Flask                              
Flask-Testing                                     
Jinja2>=3.0                         
jsonpatch                        
jsonpointer                          
jsonschema                                      
pip                                             
pytest                             
pytest-cov                       
python-apt            
python-debian                        
random2                            
requests                        
requests-mock                    
requests-unixsocket                        
simplejson                          